<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374160246852-vd2elntef2gfevnlhd0f06gm9vieu4oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374160246852-vd2elntef2gfevnlhd0f06gm9vieu4oj</string>
	<key>API_KEY</key>
	<string>AIzaSyC6EgBK4LlZzVpVHEFiKzHDPvojkhWIZRM</string>
	<key>GCM_SENDER_ID</key>
	<string>374160246852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootaura.rootauraNaturals</string>
	<key>PROJECT_ID</key>
	<string>rootaura-farms</string>
	<key>STORAGE_BUCKET</key>
	<string>rootaura-farms.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374160246852:ios:bd059155ffb5404a4f5411</string>
</dict>
</plist>